@model IEnumerable<CourseworkDB.Data.Models.User>

@{
    ViewData["Title"] = "User";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <script type="text/javascript">
        window.addEventListener('scroll', function () {
            var scrollPosition = window.pageYOffset;
            document.body.style.setProperty('--scroll-position', scrollPosition * 0.5 + 'px');
        });
    </script>
    <style>
        body::after {
            content: "";
            background: url('https://atlassianblog.wpengine.com/wp-content/uploads/2022/01/2240x1090-1-1560x760.jpg');
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-size: cover;
            background-position: center calc(var(--scroll-position));
            filter: blur(5px);
        }

        .table thead {
            background-color: #000;
            color: #fff;
        }

        .table tbody {
            background-color: #f0f0f0;
        }

        .table th, .table td {
            padding: 15px;
            border: 1px solid #ddd;
        }

        .table a {
            color: #1a0dab;
        }

            .table a:hover {
                color: #721c24;
            }

        .create-button {
            display: block;
            width: 400px;
            height: 50px;
            margin: 20px auto;
            background-color: #3498db;
            color: #ffffff;
            text-align: center;
            line-height: 50px;
            border-radius: 10px;
            transition: all 0.3s ease 0s;
        }

            .create-button:hover {
                background-color: #2980b9;
                text-decoration: none;
            }

        .edit-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: #999900;
            color: #ffffff;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            transition: all 0.3s ease 0s;
        }

            .edit-button:hover {
                background-color: #666900;
            }

        .details-button,
        .delete-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: #ffffff;
            color: #ffffff;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            transition: all 0.3s ease 0s;
        }

            .details-button:hover {
                background-color: #777777;
            }

        .delete-button {
            background-color: #e74c3c;
        }

            .delete-button:hover {
                background-color: #c0372b;
            }
    </style>
</head>
<body>
    <h1>User</h1>

    <p>
        <a asp-action="Create" class="create-button">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "edit-button" })
                        @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "details-button" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "delete-button" })
                        @Html.ActionLink("Create User Role", "AddUserRole", "UserRole", null, new { @class = "details-button" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
