@model IEnumerable<CourseworkDB.Data.Models.Ad>

@{
    ViewData["Title"] = "Ad";
}

<h1>Ad</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AdId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AdId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AdId })
            </td>
        </tr>
}
    </tbody>
</table>
