@model IEnumerable<CourseworkDB.Data.Models.Payment>

@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                Ad Group
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdGroup.GroupName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PaymentId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.PaymentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PaymentId })
            </td>
        </tr>
}
    </tbody>
</table>
