@model IEnumerable<CourseworkDB.Data.Models.Role>

@{
    ViewData["Title"] = "Role";
}

<h1>Role</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RoleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleId }) |
                    <form asp-action="AddUser" asp-controller="Role" method="post">
                        <input type="hidden" name="roleId" value="@item.RoleId" />
                        <label>User Id: </label>
                        <input class="form-control" type="text" name="userId" />
                        <button type="submit" class="back-button">Add User</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
